<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Currency Converter</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body >
<div ng-app="Invoice1" ng-controller="InCtrl">
	<b class="header">Invoice:</b>
	<div>
		Quantity : <input type="number" min="0" ng-model="InCtrl.qty" required>
	</div>
	<div>
		Cost : <input type="number" min="0" ng-model="InCtrl.cost" required>
		<select ng-model="InCtrl.inCurr">
			<option ng-repeat="c in InCtrl.currencies">{{c}}</option>
		</select>

	</div>
	<div>
		<b> Total: </b> 
		<span ng-repeat="c in InCtrl.currencies">
			<span ng-bind="InCtrl.total(c) | currency:c"></span>
		</span> 
		<button class="btn" ng-click="InCtrl.pay()">Pay</button>
	</div>
</div>
</body>
</html>
