<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Currency Converter</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- <script type="text/javascript"></script> -->
</head>
<body ng-app ng-init="qty=1;cost=2">
	<b class="header">Invoice:</b>
	<div>
		Quantity : <input type="number" min="0" ng-model="qty">
	</div>
	<div>
		Cost : <input type="number" min="0" ng-model="cost">
	</div>
	<div>
		<b> Total: </b>  {{ qty * cost | currency}} 
	</div>
	
</body>
</html>
